@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Giga:wght@100..900&family=Teko:wght@300..700&display=swap');
/* global */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 62px;
    text-decoration: underline;
}

h2, h3 {
    font-family: 'Lexend Giga', sans-serif;
}

html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    background-color: rgb(245, 245, 220);
    flex: 1;
}

footer {
    background-color: rgb(57, 65, 44);
    min-height: 100px;
}
/* Buttons */

.custom-button {
    background-color: transparent;
    color: darkslategray;
    padding: 5px 20px;
    max-width: 150px;
    border: 2px solid darkslategray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button-white {
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    max-width: 150px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Navigation bar */
.nav-style {
    background-color: darkslategray;
    box-shadow: 0 2px 2px #3a3a3a;
}
/* Changes the color of the links in the navbar */
.navbar-nav .nav-link {
    color: #ffffff !important;        
}

.nav-logo {
    width: 55px;
    border-radius: 50px;
}

/* Main */

.hero-image {
    background: url(../images/hero-image.webp) no-repeat center center / cover;
    position: relative;
    width: 100%;
    height: 450px;
    box-shadow: 0 2px 2px #3a3a3a;
}

.hero-container {
    background-color: rgb(47, 78, 78, 0.5);
    padding: 5px 5px;
    border-radius: 10px;
    color: white;
    margin: 0 2px;
    max-width: 900px;
}

.reasons-style {
    padding: 5px 5px;
    border-radius: 10px;
    color: black;
    margin: 0 2px;
    max-width: 400px;
    padding: 0;
}

.text-background-alt {
    padding: 5px 5px;
    border-radius: 10px;
    color: black;
    margin: 0 2px;
    max-width: 400px;
}


/* support section */

.support-container {
    max-width: 500px;
    margin: auto;
    background-color: darkslategray;
    border-radius: 30px;
    border: 4px solid rgb(57, 65, 44);
    color: white;
}

/* Walking page */

.walk-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.walk-card {
    border: 3px solid darkslategray;
    border-radius: 13px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.map-link {
    color: blue;
    text-decoration: underline;
}

/* About Us Page */
.about-fact {
    font-size: 20px;
    font-weight: 400;
}

#about-image {
    border-radius: 50%;
}

.fact-border {
    border-top: 2px solid darkslategray;
}
s
/* Need Help page */

.subtitle {
    font-family: 'Teko', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
}

#border-container {
    border-top: 1px solid darkslategray;
}

.support-card {
    border: 2px solid darkslategray;
    border-radius: 10px;
    background-color: rgb(63, 99, 99);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 292px;
    height: auto;
}

/* Sign-up Page */

.form-size {
    max-width: 520px;
}

/* Success Page */

.tick-icon {
    color: rgb(57, 65, 44);
    font-size: 100px;
}

/* footer */

.footer-style {
    color: white;
}

.social-container {
    max-width: 150px;
}
