/* global */

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}


main {
    background-color: whitesmoke;
    flex: 1;
}

footer {
    background-color: #363636;
    min-height: 100px;
}

/* Navigation bar */
.nav-style {
    background-color: darkslategray;
}


.nav-logo {
    width: 55px;
    border-radius: 50px;
}

/* Main */



